/cache/

# Undo directory for persistent undo
/.undodir/

# Haskellmode haddock index cache directory
/.haddock_index/

# Netrw history
/.netrwhist
/plugged

# Old versions of vim-plug
/autoload/plug.vim.old
